<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>songServlet</servlet-name>
        <servlet-class>com.weixin.servlet.SongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>songServlet</servlet-name>
        <url-pattern>/song</url-pattern>
    </servlet-mapping>
      <servlet>
            <servlet-name>announce</servlet-name>
            <servlet-class>com.weixin.servlet.AnnounceServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>announce</servlet-name>
            <url-pattern>/announce</url-pattern>
        </servlet-mapping>
    <filter>
        <filter-name>encodeFliter</filter-name>
        <filter-class>com.weixin.fliter.EncodingFliter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodeFliter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--<dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>-->
    </filter-mapping>
</web-app>